<a href="https://colab.research.google.com/github/jefersontigik/Python_Samples/blob/main/C%C3%B3pia_de_Second_Py_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Esta é uma **célula** de texto


1.   List item
2.   List item

In [ ]:
print("Olá Mundo!")

Olá Mundo!

In [ ]:
idade = 30
print(idade)

idade = 22
print(idade)

nome = 'João'
print(nome)

30
22
João

In [ ]:
preco = 1000
tipo_preco = type(preco)

print(preco)
print(tipo_preco)

juros = 8.05
tipo_juros = type(juros)

print(juros)
print(tipo_juros)

1000
<class 'int'>
8.05
<class 'float'>

In [ ]:
primeiro_nome = 'José'

print(primeiro_nome)
print(type(primeiro_nome))

pais = "Brasil"

print(pais)
print(type(pais))

José
<class 'str'>
Brasil
<class 'str'>

In [ ]:
usuario_maior_de_idade = True

print(usuario_maior_de_idade)
print(type(usuario_maior_de_idade))

True
<class 'bool'>

In [ ]:
telefone_fixo = None

print(telefone_fixo)
print(type(telefone_fixo))

None
<class 'NoneType'>

## **Exemplo**: Carrinho de e-commerce.

In [ ]:
qtd_itens_carrinho_compra = 0

qtd_itens_carrinho_compra = qtd_itens_carrinho_compra + 1
print(qtd_itens_carrinho_compra)

qtd_itens_carrinho_compra = qtd_itens_carrinho_compra + 1
print(qtd_itens_carrinho_compra)

1
2

In [ ]:
qtd_itens_carrinho_compra = 0

qtd_itens_carrinho_compra += 1
print(qtd_itens_carrinho_compra)

qtd_itens_carrinho_compra += 1
print(qtd_itens_carrinho_compra)

1
2

## **Exemplo**: Total a pagar por um produto.

In [ ]:
preco = 47
quantidade = 0.250

total_a_pagar = quantidade * preco

print(total_a_pagar)

11.75

In [ ]:
a = 3
b = 2

c = a / b
print(c)
print(type(c))

d = a // b

print(d)
print(type(d))

1.5
<class 'float'>
1
<class 'int'>

## **Conversão**:

In [10]:
num = input("Informe o valor: ")
valor = 0.0
try:
  float(num)
  print("Convertido")
  valor = float(num)
except:
  print("Não convertido!")

print(f'Valor informado: {valor}')

Informe o valor: oiy
Não convertido!
Valor informado: 0.0

In [ ]:
print(int(3.9))
print(float(10))
print(complex(1))

3
10.0
(1+0j)

## **Revisando a motivação:**

Ticket médio diário em 19/01:

In [ ]:
soma_valor_vendas_19 =  153.98
soma_qtd_vendas_19 = 3

tkt_19 = soma_valor_vendas_19 / soma_qtd_vendas_19
print(tkt_19)

51.32666666666666

Ticket médio diário em 20/01:

In [ ]:
soma_valor_vendas_20 =  337.01
soma_qtd_vendas_20 = 7

tkt_20 = soma_valor_vendas_20 / soma_qtd_vendas_20
print(tkt_20)

48.144285714285715

Ticket médio diário em 20/01:

In [ ]:
soma_valor_vendas_23 =  295.33
soma_qtd_vendas_23 = 5

tkt_23 = soma_valor_vendas_23 / soma_qtd_vendas_23
print(tkt_23)

59.065999999999995

Ticket médio:

In [ ]:
tktm = (tkt_19 + tkt_20 + tkt_23) / 3
print(tktm)

52.8456507936508

## **Estruturas de repetição:**

In [ ]:
valor = 100

if valor > 100:
    print("Valor maior que 100")
elif valor == 100:
    print("Valor é 100")
elif valor < 100:
    print("Valor é menor que 100")

## While loop:

In [ ]:
num =0
num_max = int(input("Informe o número: "))

while num < num_max:
    num += 1 
    print('num = ', num)

Informe o número: 7
num =  1
num =  2
num =  3
num =  4
num =  5
num =  6
num =  7

# while loop with else block:

In [ ]:
num = 0

while num < 3:
	num += 1  
	print('num = ', num)
else:
    print('else block executed')

num =  1
num =  2
num =  3
else block executed

## For Loops:

In [ ]:
nums = [10, 20, 30, 40, 50]

for i in nums:
    print(i)

10
20
30
40
50

## For Loop with Tuple:

In [ ]:
nums = (10, 20, 30, 40, 50)
for i in nums:
    print(i)

10
20
30
40
50

## For Loop with String:

In [ ]:
for char in 'Hello':
    print (char)

H
e
l
l
o

## For Loop with Dictionary:

In [ ]:
numNames = { 1:'One', 2: 'Two', 3: 'Three'}

for k,v in numNames.items():
    print("key = ", k , ", value =", v)

key =  1 , value = One
key =  2 , value = Two
key =  3 , value = Three

In [ ]:
#num = 5
num = int(input('Informe um valor: '))


for i in range(num):
  print(f' {i}')

Informe um valor: 5
 0
 1
 2
 3
 4

## Try block:

In [ ]:
try:
  print(x)
except:
  print("An exception occurred")

## Resolução exercício:

In [ ]:
vvt = [None, 834.47, 15379.23]
qtv = [3, None, 5]
tm = [320.72, 120.41, None]

vvt[0] = qtv[0] * tm[0]
qtv[1] = int(vvt[1] // tm[1])
tm[2] = round((vvt[2] / qtv[2]), 2)
#tm[2] = vvt[2] / qtv[2]

print(f'Valor total: {vvt[0]}\n')
print(f'Quantidade total: {qtv[1]}\n')
print(f'ticket Médio: {tm[2]}\n')

Valor total: 962.1600000000001

Quantidade total: 6

ticket Médio: 3075.85

# Teste:

In [ ]:
num_max = int(input("Informe valor: "))

for num in range(1, num_max):
  if num_max % num == 0:
    print("Certo")
  else:
    print("Errado")

Informe valor: 7
Certo
Errado
Errado
Errado
Errado
Errado

In [ ]:
num_max = int(input("Informe valor: "))

i = range(1, num_max)

for num in i:
  if num_max % num == 0:
    print("Certo")
  else:
    print("Errado")

Informe valor: 8
Certo
Certo
Errado
Certo
Errado
Errado
Errado

## **Arrays em Python:**

In [ ]:
import numpy as np

num = int(input("Informe tamanho: "))

nota1 = np.array([])
nota2 = np.array([])
#arr = np.array([])

for i in range(num):
  nota1 = np.array([float(input('Informe a 1ª nota: '))])
  nota2 = np.array([float(input('Informe a 2ª nota: '))])

for i in range(len(nota1)):
  print(f'R: {nota1}, {nota2}\n')

Informe tamanho: 2
Informe a 1ª nota: 2.
Informe a 2ª nota: 3.4
Informe a 1ª nota: 5.6
Informe a 2ª nota: 7.8
R: [5.6], [7.8]

In [ ]:

import array as arr

from IPython.display import clear_output


nota1 = arr.array('d')
nota2 = arr.array('d')
media = arr.array('d')

def imprime():
  print('-------------------------------------')

num = int(input('Informe quantos registros: '))
clear_output()
print(f'Tamanho: {num}\n')

for i in range(num):

  imprime()
  print(f'Registro {i + 1}:')
  nota1.append(float(input('Nota 1: ')))
  nota2.append(float(input('Nota 2: ')))
  media.append((nota1[i] + nota2[i]) / 2)
  imprime()

for i in range(num):

  if media[i] >= 8:
    res = 'Aprovado'
  elif media[i] < 6:
    res = 'Reprovado'
  else:
    res = 'Recuperação'

  print(f'- > Aluno {i + 1} -  N1: {nota1[i]}, N2: {nota2[i]}, Média: {round(media[i], 1)}, Parecer: {res}')
  imprime()

Tamanho: 2

-------------------------------------
Registro 1:
Nota 1: 5.6
Nota 2: 6.7
-------------------------------------
-------------------------------------
Registro 2:
Nota 1: 7.8
Nota 2: 8.9
-------------------------------------
- > Aluno 1 -  N1: 5.6, N2: 6.7, Média: 6.2, Parecer: Recuperação
-------------------------------------
- > Aluno 2 -  N1: 7.8, N2: 8.9, Média: 8.3, Parecer: Aprovado
-------------------------------------

## **Funções:**

In [ ]:
def my_function():
  print("Hello from a function")

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

In [ ]:
def minha_funcao():
  return print("Mostra resultado")

In [ ]:
def minha_funcao2(variavel):
 print("Mostra resultado")

In [ ]:
def imprime(i):
  print('==================================')
  print(f'Aluno {i}: ')

# Array de String:

In [ ]:
import array as arr

nome = list()

num = int(input('Informe quantos registros: '))

for i in range(num):
  nome.append(input('Informe o Nome:'))

clear_output()

for i in nome:
  print(f'Nome informado: {i}')

Nome informado: Ana
Nome informado: Paulo

# **CRUD:**

In [ ]:
import sqlite3
db = sqlite3.connect('test.db')

# Criando a tabela 'Student':

try:        
    cur =db.cursor()
    cur.execute('''CREATE TABLE student (
    StudentID INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT (20) NOT NULL,
    age INTEGER,
    marks REAL);''')
    print ('table created successfully')
except:
    print ('error in operation')
    db.rollback()

# Gravando dados na tabela 'Student'

qry="insert into student (name, age, marks) values('Rajeev', 20, 50);"

try:
    cur=db.cursor()
    cur.execute(qry)
    db.commit()
    print ("one record added successfully")
except:
    print ("error in operation")
    db.rollback()

#Lendo a tabela 'Student'

sql="SELECT * from student;"

cur = db.cursor()

cur.execute(sql)

while True:
    record=cur.fetchone()
    if record==None:
        break
    print (record)

# Atualizando a tabela 'Student'

qry = "update student set age=? where name=?;"

try:
    cur=db.cursor()
    cur.execute(qry, (19,'Deepak'))
    db.commit()
    print("record updated successfully")
except:
    print("error in operation")
    db.rollback()

# Apagando dados da tabela 'Student'

qry = "DELETE from student where name=?;"

try:
    cur=db.cursor()
    cur.execute(qry, ('Bill',))
    db.commit()
    print("record deleted successfully")
except:
    print("error in operation")
    db.rollback()


db.close()

error in operation
one record added successfully
(1, 'Rajeev', 20, 50.0)
(2, 'Rajeev', 20, 50.0)
record updated successfully
record deleted successfully

## **Switch Case**

In [13]:
lang = input("What's the programming language you want to learn? ")

match lang:
    case "JavaScript":
        print("You can become a web developer.")

    case "Python":
        print("You can become a Data Scientist")

    case "PHP":
        print("You can become a backend developer")
    
    case "Solidity":
        print("You can become a Blockchain developer")

    case "Java":
        print("You can become a mobile app developer")
    case _:
        print("The language doesn't matter, what matters is solving problems.")

SyntaxError: ignored

In [ ]:
def provideAccess(user):
    return {
        "username": user,
        "password": "admin"
    }
 
 
def runMatch():
    user = str(input("Write your username -: "))
 
    # match statement starts here .
    match user:
        case "Om":
            print("Om do not have access  to the database \
            only for the api code.")
        case "Vishal":
            print(
                "Vishal do not have access to the database , \
                only for the frontend code.")
 
        case "Rishabh":
            print("Rishabh have the access to the database")
            print(provideAccess("Rishabh"))
 
        case _:
            print("You do not have any access to the code")
 
 
if __name__ == "__main__":
    for _ in range(3):
        runMatch()