<a href="https://colab.research.google.com/github/jefersontigik/Python_Samples/blob/main/Exercicio_Python_Mod_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Python: Variáveis & Tipos de Dados
Caderno de **Exercícios**<br> 
Aluno [Jeferson Tigik](https://www.linkedin.com/in/jeferson-tigik/)

---

# **Tópicos**

<ol type="1">
  <li>Introdução ao Google Colab;</li>
  <li>Variáveis;</li>
  <li>Números;</li>
  <li><i>Strings;</i></li>
  <li>Boleanos.</li>
</ol>

---

# **Exercícios**

## 1\. Google Colab

Crie uma célula de código que escreva o texto "Olá mundo!", utilize o comando `print`.

In [1]:
print('Olá mundo!')

Olá mundo!

Crie uma célua de texto e adicione uma imagem.

<img src="https://media.eadbox.com/system/uploads/saas/devise_logo/5ee2b68e48b56200102e2258/newebac_logo_black.png" alt="ebac-logo">

---

## 2\. Números

Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de ticket médio abaixo:

<br>

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|--------------|
| 19/01 | (A)                | 3                | 320.52       |
| 20/01 | 834.47             | (B)              | 119.21       |
| 23/01 | 15378.12           | 5                | (C)          |

In [6]:
# (A)
b = 3
c = 320.52
a = b * c
print (a)

961.56

In [9]:
# (B)
a = 834.47
c = 119.21
b = int(a / c)
print (b)

7

In [12]:
# (C)
a = 15378.12
b = 5
c = a / b
print (round(c, 2))

3075.62

---

## 3\. Strings

Aplique três métodos distintos na *string* abaixo, você pode conferir alguns métodos neste [link](https://www.w3schools.com/python/python_ref_string.asp):

In [ ]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'

Extraia da string abaixo o valor da taxa **selic** na variável `selic` e o valor do **ano** na variavel `ano`. Imprima os valores na tela.

In [ ]:
noticia = 'Selic vai a 2,75% e supera expectativas; é a primeira alta em 6 anos.'

---

## 4\. Booleanos

Utilize a tabela da verdade para responder: qual o valor da variável x?

In [ ]:
a = False
b = True

x = not a & b