<a href="https://colab.research.google.com/github/jefersontigik/Python_Samples/blob/main/First_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Esta é uma **célula** de texto


1.   List item
2.   List item

In [ ]:
print("Olá Mundo!")

Olá Mundo!

In [ ]:
idade = 30
print(idade)

idade = 22
print(idade)

nome = 'João'
print(nome)

30
22
João

In [ ]:
preco = 1000
tipo_preco = type(preco)

print(preco)
print(tipo_preco)

juros = 8.05
tipo_juros = type(juros)

print(juros)
print(tipo_juros)

1000
<class 'int'>
8.05
<class 'float'>

In [ ]:
primeiro_nome = 'José'

print(primeiro_nome)
print(type(primeiro_nome))

pais = "Brasil"

print(pais)
print(type(pais))

José
<class 'str'>
Brasil
<class 'str'>

In [ ]:
usuario_maior_de_idade = True

print(usuario_maior_de_idade)
print(type(usuario_maior_de_idade))

True
<class 'bool'>

In [ ]:
telefone_fixo = None

print(telefone_fixo)
print(type(telefone_fixo))

None
<class 'NoneType'>

## **Exemplo**: Carrinho de e-commerce.

In [11]:
qtd_itens_carrinho_compra = 0

qtd_itens_carrinho_compra = qtd_itens_carrinho_compra + 1
print(qtd_itens_carrinho_compra)

qtd_itens_carrinho_compra = qtd_itens_carrinho_compra + 1
print(qtd_itens_carrinho_compra)

1
2

In [12]:
qtd_itens_carrinho_compra = 0

qtd_itens_carrinho_compra += 1
print(qtd_itens_carrinho_compra)

qtd_itens_carrinho_compra += 1
print(qtd_itens_carrinho_compra)

1
2

## **Exemplo**: Total a pagar por um produto.

In [13]:
preco = 47
quantidade = 0.250

total_a_pagar = quantidade * preco

print(total_a_pagar)

11.75

In [15]:
a = 3
b = 2

c = a / b
print(c)
print(type(c))

d = a // b

print(d)
print(type(d))

1.5
<class 'float'>
1
<class 'int'>

## **Conversão**:

In [16]:
print(int(3.9))
print(float(10))
print(complex(1))

3
10.0
(1+0j)

## **Revisando a motivação:**

Ticket médio diário em 19/01:

In [17]:
soma_valor_vendas_19 =  153.98
soma_qtd_vendas_19 = 3

tkt_19 = soma_valor_vendas_19 / soma_qtd_vendas_19
print(tkt_19)

51.32666666666666

Ticket médio diário em 20/01:

In [18]:
soma_valor_vendas_20 =  337.01
soma_qtd_vendas_20 = 7

tkt_20 = soma_valor_vendas_20 / soma_qtd_vendas_20
print(tkt_20)

48.144285714285715

Ticket médio diário em 20/01:

In [19]:
soma_valor_vendas_23 =  295.33
soma_qtd_vendas_23 = 5

tkt_23 = soma_valor_vendas_23 / soma_qtd_vendas_23
print(tkt_23)

59.065999999999995

Ticket médio:

In [20]:
tktm = (tkt_19 + tkt_20 + tkt_23) / 3
print(tktm)

52.8456507936508